.todo-item-row {
  margin-bottom: -1em;
}

.todo-text-row {
  margin: 3em 0 2em 0;
}

.done div div label {
  text-decoration: line-through;
}

.v-application .primary--text {
  color: #ffffffb3 !important;
  caret-color: #ffffffb3 !important;
}

.left-btn {
  text-align: right;
}
